

<!doctype html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org" >
  <head  th:insert="fragments.html :: head"></head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
    <div th:insert="fragments.html :: header">

    </div>
      <section class="about-1">
        <div class="about-info">
            <h2> О нас</h2>
        </div>
      </section>
      <section class="about-2">
        <div class="about-info">
            <div> 
                <div class="inner-about">
                    <div class="ab-img1">
                        <img src="assets/images/t1.jpg" alt="product" >
                    </div>
                    <div class="ab-inf1">
                        <h6>В «MODAMO beauty» работают настоящие мастера своего дела, обладающие большим опытом и 
                            владеющие самыми актуальными техниками и технологиями, способными сделать вашу внешность 
                            прекрасной. Стремление к непрерывному совершенствованию всей творческой команды салона, 
                            регулярное обучение в лучших школах beauty-индустрии и индивидуальный подход к каждому клиенту
                             помогают нам создавать образы, сочетающие в себе моду и красоту.
                              <br>
                              <br>
                              <br>
                              «MODAMO beauty» всего 3 года на рынке красоты - но мы постоянно обновляем ассортимент процедур, чтобы и наши
                               постоянные, 
                              и новые клиенты не переставали удивляться и могли выбрать то, что по душе каждому.
                              <br>
                              <br>
                              Красивый и стильный интерьер, доброжелательную тёплую атмосферу и великолепный сервис успели оценить наши клиенты.
                              <br>
                              <br>
                               Наши гости знают, что у нас их ждет фирменный сервис: свежие журналы и фильмы, вкусный кофе с конфетами и печеньем, быстрый wi-fi, акции и скидки и многое другое.
                                Все это - неотъемлемая часть вашего визита к нам в салон красоты «MODAMO»</h6>
                    </div>
            </div>
        </div>
        <div class="ab-inf2">
            <h2>Какие мастериалы мы используем?</h2>
            <h6>В первую очередь – полное понимание. Даже если с вашими волосами что-то не так, я и моя команда сделают все, чтобы, выйдя от нас, вы искренне улыбались, ощущая свою неотразимость. Седина, неграмотный балаяж, недокрашенные корни – не проблема для нас. Если вы недовольны работой мастеров из другого салона – обращайтесь к нам.
            <br>
            Я лично подбираю специалистов со всем перфекционизмом, присущим мне. Собирая свою команду, я мечтала о том, чтобы найти не просто опытных парикмахеров и колористов, а о том, чтобы обрести людей, которые, как и я, искренне желают творить красоту на ваших волосах, тем самым даря вам счастье и уверенность в себе.
            <br>
            На официальном сайте нашего салона красоты «MODAMO» вы можете записаться на стрижку или окрашивание в различных 
            техниках, а наши компетентные мастера будут рады превратить вас в ангела… Или в демона. Все зависит от того, чего вы искренне желаете. Я постоянно нахожусь в салоне и контролирую работу своих прекрасных мастеров, так что вы всегда можете обратиться ко мне за советом – или просто для того, 
            чтобы пообщаться.
            </h6>
        </div>
        
        </div>
      </section>
  <footer th:insert="fragments.html :: footer">

  </footer>

  <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
  <!--bootstrap working-->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- //bootstrap working-->
  <!-- disable body scroll which navbar is in active -->
  <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
  </script>
  <!-- disable body scroll which navbar is in active -->  <!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<!-- время работы -->
<script>// Получаем текущую дату и время
  let oCurrDate = new Date();
  // Получаем элемент с текущим днём недели
  let oCurrDay = $(".calendarik").eq(oCurrDate.getDay() == 0 ? 6 : oCurrDate.getDay() - 1);
  // Подсвечиваем текущий день недели
  oCurrDay.addClass("current");
  // Парсим часы работы в тексте пункта
  let aPartTime = oCurrDay.text().match(/(\d+)/gi);
  // Получаем текущий час
  let nHour = oCurrDate.getHours();
  // Создаём блок для надписи о статусе
  let oStatus = $("<span>");
  // Если текущий час попадает в рабочий промежуток,
  // тогда устанавливаем нужный текст с нужным цветом
  if (nHour >= aPartTime[0] && nHour < aPartTime[2]) {
    oStatus.css("color", "green").html("ОТКРЫТО до 20:00");
  } else {
    oStatus.css("color", "red").html("Закрыто до завтра");
  }
  // Отображаем статус около текущего дня
  oCurrDay.append(oStatus);
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
</section>
<!-- /move top -->
</body>

</html>