

<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
  <head th:insert="fragments.html :: head"></head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
   <div th:insert="fragments.html :: header"></div>
      <section class="about-1">
        <div class="about-info">
            <h2> Брови и ресницы</h2>
        </div>
        <a href="#" class="button">Записаться онлайн</a>
      </section>
      
    <footer th:insert="fragments.html :: footer">
    </footer>
      <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
</body>

</html>