

<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments.html :: head">
  </head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
    <div th:insert="fragments.html :: header">
    </div>
      <section class="about-1">
        <div class="about-info">
            <h2> SPA массаж</h2>
        </div>
        <a th:href="@{/enroll/face/specialist}" class="button">Записаться онлайн</a>
      </section>
      <!-- breadcrumbs //-->
<section class="w3l-blog-single">
  <div class="sec-padding ">
    <div class="container">
      <div class="blog-grid">
        <!--blog-grid-->
        <div class="blog-left">
          <div class="blog-grid-one">
          <div class=" blog-blog">
            <a href="face.html"><img src="assets/images/15.jpg" alt=" " class="img-responsive"></a>
            <div class="image-up">
              
            </div>
          </div>
          <div class="blog-w3three-img blog-right-single">
            <h4><a href="#" class="">SPA массаж.
              </a></h4>
            <p class="para ">
              Методика массажа с одновременным сочетанием различных психо-физиотерапевтических методов 
              воздействия, включающих в себя упорядоченное, дозированное механическое воздействие, 
              производимое специалистом на ткани и системы подготовленного. человека, с учетом его личностных 
              характеристик, с целью положительного воздействия на психосоматическое состояние.</p>
          </div>
        </div>
          
          <div class="blog-w3three-img blog-right-single">
            <p class="para ">
              Казалось бы, принцип массажных действий один и он четко определен – это мануальное или аппаратное 
              (с помощью вспомогательных инструментов различной степени сложности и эффективности) 
              воздействие на кожу и мышцы пациента. Тем не менее, допустим, в Китае вам сделают совершенно 
              другой массаж, чем во Франции или Африке. Разумеется, это актуально, если речь идет о техниках, 
              которые были известны давно и вошли в «золотой фонд» традиционной медицины народов мира.</p>
          </div>
          <div class="blog-w3three-mid mt-5 ">
            <a href="face.html"> 
              <img src="assets/images/im11.jpg" class="img-responsive" alt=""></a>
              <div class="bolg-admin">
              <h4><a href="#" class="title-team-28">Массажный салон "Модамо"</a></h4>
          <p class="para ">
            Иными словами, СПА-массаж - это полноценное комплексное воздействие, которое оказывает общее благотворное влияние на организм,
             а не только на какую-то его отдельную часть.
            </p>
            <div class="share-icons mt-4">
              <a href="#"><span class="fa fa-facebook"></span></a>
              <a href="#"><span class="fa fa-twitter"></span></a>
              <a href="#"><span class="fa fa-tumblr"></span></a>
              <a href="#"><span class="fa fa-pinterest"></span></a>
              <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
              <a href="#vk" class="vk"><span class="fa fa-vk"></span></a>

          </div>
          </div>
        </div>
      </div>
        <!-- blog-grid// -->

        <div class="blog-right">
          <!-- latest posts -->
          <div class="latest-posts blog-right-single">
            <div class="comments-grid-right ">
              <h5 class=""> Интересные</h5>
            </div>
            <div class="blog-right-side-post  ">
              <div class=" single-blog-image">
                <a href="#"> 
                  <img src="assets/images/7.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="single-blog-left">
                <h6><a href="face.html" class="">Белую глину называют кембрийской, поскольку 
                  сформировалась такая горная порода именно в кембрийский период...</a>
                </h6>

                <span class="">17 апреля</span>
              </div>
            </div>
            <div class="blog-right-side-post ">
              <div class="single-blog-image">
                <a href="#">
                  <img src="assets/images/10.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="single-blog-left">
                <h6><a href="face.html" class="">Почему многие выбирают стоун массаж?</a>
                </h6>

                <span class="">1 май</span>
              </div>
            </div>
            <div class="blog-right-side-post ">
              <div class="single-blog-image">
                <a href="#"> 
                  <img src="assets/images/im8.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="single-blog-left">
                <h6><a href="face.html" class="">Солевой массаж тела – это косметологическая процедура, 
                  направленная на очищение кожи от ороговевшего слоя и загрязнений...</a>
                </h6>
                <span class="">12 мая</span>
              </div>
            </div>
          </div>
          <!-- latest post//s -->
          <!-- Category -->
          <div class="category-list blog-right-single editContente">
            <div class="comments-grid-right ">
              <h5 class="">Виды массажа</h5> 
            </div>
            <ul>
              <li class=""><a href="#" class="">Точечный массаж</a> <a href="#"
                  class="category-no "><span>5</span></a></li>
              <li class=""><a href="#" class="">Медовый массаж</a> <a href="#"
                  class="category-no "><span>3</span></a></li>
              <li class=""><a href="#" class="">Тайский массаж</a> <a href="#"
                  class="category-no "><span>2</span></a></li>
              <li class=""><a href="#" class="">Стоун массаж</a><a href="#"
                  class="category-no "><span>1</span></a></li>
              <li class="mb-0 "><a href="#" class="">Баночный массаж</a><a href="#"
                  class="category-no "><span>4</span></a></li>
            </ul>
          </div>
          <!--Category -->
          <!-- gallery -->
          <div class="right-sidegride blog-right-single ">
            <div class="comments-grid-right ">
              <h5 class="">Посты в инстагрмме</h5>
            </div>
            <div class="gallery-single-wthree">
              <div class="gallery-tab ">
                <img src="assets/images/im1.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                <img src="assets/images/im11.jpg" alt="news image" class="img-responsive">
                </a>
              </div>

              <div class="gallery-tab ">
                 <img src="assets/images/10.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                <img src="assets/images/12.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                 <img src="assets/images/im10.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                <img src="assets/images/12.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                <img src="assets/images/im10.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                 <img src="assets/images/15.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
              <div class="gallery-tab ">
                 <img src="assets/images/im8.jpg" alt="news image" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
           <!-- gallery -->
        </div>
        <!-- left-grid// -->

      </div>
    </div>
  </div>
</section>
      <footer th:insert="fragments.html :: footer">

      </footer>
      <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
</body>

</html>