
<!Doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: head"></head>
<body id="home">

<section th:insert="fragments.html :: header"></section>


<!-- disable body scroll which navbar is in active -->

<div class="w3l-hero-headers-9">
    <div class="css-slider">
        <input id="slide-1" type="radio" name="slides" checked>
        <section class="slide slide-one">
            <div class="container">
                <div class="banner-text">

                    <h3>Добро пожаловать <br>
                        в салон красоты "Modamo"</h3>
                    <p>Место, где люди находят свой стиль!</p>
                    <a th:href="@{/enroll/category}" class="btn logo-button top-margin">З а п и с а т ь с я</a>
                </div>
            </div>
            <nav>
                <label for="slide-3" class="prev">&#10094;</label>
                <label for="slide-2" class="next">&#10095;</label>
            </nav>
        </section>

        <input id="slide-2" type="radio" name="slides">
        <section class="slide slide-two">
            <div class="container">
                <div class="banner-text">
                    <h3>Салон красоты <br>
                        не только для леди </h3>
                    <p>Добро пожаловать в мир красоты, здоровья, гармонии души и тела.
                        Сочетая инновационные аппартные технологии и передовые косметические
                        средства мы продлеваем молодость и красоту.</p>
                    <a th:href="@{/enroll/category}" class="btn logo-button top-margin"> З а п и с а т ь с я </a>
                </div>
            </div>
            <nav>
                <label for="slide-1" class="prev">&#10094;</label>
                <label for="slide-3" class="next">&#10095;</label>
            </nav>
        </section>

        <input id="slide-3" type="radio" name="slides">
        <section class="slide slide-three">
            <div class="container">
                <div class="banner-text">
                    <h3>и для <br>
                        джентельменов!</h3>
                    <p>Мужские и детские стрижки,
                        а также бритьё и спа-услуги!</p>
                    <a th:href="@{/enroll/category}" class="btn logo-button top-margin"> З а п и с а т ь с я </a>
                </div>
            </div>
            <nav>
                <label for="slide-2" class="prev">&#10094;</label>
                <label for="slide-1" class="next">&#10095;</label>
            </nav>
        </section>
        <header>
            <label for="slide-1" id="slide-1"></label>
            <label for="slide-2" id="slide-2"></label>
            <label for="slide-3" id="slide-3"></label>
        </header>
    </div>
</div>
<section class="w3l-covers-18">
    <div class="covers-main ">
        <div class="container">
            <div class="gallery-image">
                <div class="column color-2 ">
                    <div>
                        <h4 class=" ">Наши мастера всегда к вашим услугам!</h4>
                        <p class="para ">Это не просто услуги, это атмосфера.

                            Наш женский рай, где всегда вас рады видеть, дарить красоту, отличное настроение, заботу и внимание.</p>
                        <a href="about.html" class="action-button btn mt-md-4 mt-3">П о д р о б н е е </a>
                    </div>
                </div>
                <div class="img-box">
                    <img src="assets/images/im7.jpg" alt="product" class="img-responsive ">
                    <div class="transparent-box">
                        <div class="caption">
                            <p>Стрижки</p>
                            <p class="opacity-low">Salon</p>
                        </div>
                    </div>
                </div>
                <div class="img-box">
                    <img src="assets/images/im2.jpg" alt="product" class="img-responsive ">
                    <div class="transparent-box">
                        <div class="caption">
                            <p>Барбершоп</p>
                            <p class="opacity-low">Salon</p>
                        </div>
                    </div>
                </div>
                <div class="img-box">
                    <img src="assets/images/im4.jpg" alt="product" class="img-responsive ">
                    <div class="transparent-box">
                        <div class="caption">
                            <p>Брови</p>
                            <p class="opacity-low">Salon</p>
                        </div>
                    </div>
                </div>
                <div class="img-box">
                    <img src="assets/images/im10.jpg" alt="product" class="img-responsive ">
                    <div class="transparent-box">
                        <div class="caption">
                            <p>Ногти</p>
                            <p class="opacity-low">Salon</p>
                        </div>
                    </div>
                </div>
                <div class="img-box">
                    <img src="assets/images/im8.jpg" alt="product" class="img-responsive ">
                    <div class="transparent-box">
                        <div class="caption">
                            <p>СПА</p>
                            <p class="opacity-low">Salon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-teams-15">
    <div class="team-single-main ">
        <div class="container">

            <div class="column2 image-text">
                <h3 class="team-head ">Посвяти это время себе, подари наслаждение❤️</h3>
                <p class="para  text ">
                    Салон красоты «Modamo» – новая философия по уходу за волосами. Полный спектр
                    парикмахерских услуг, стрижки горячими ножницами, системы программ интенсивного
                    спа-восстановления волос любой степени повреждения препаратами Label (Япония).
                    Косметология, естественные брови/реснички,вечерние макияжи, все виды массажа, ногтевой сервис,
                    услуга «Аппаратный педикюр» с
                    приятным дополнением. </p>
                <a th:href="@{/enroll/category}" class="btn logo-button top-margin mt-4">З а п и с а т ь с я </a>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="w3l-call-to-action_9">
    <div class="call-w3 ">
        <div class="container">
            <div class="grids">
                <div class="grids-content row">

                    <div class="column col-lg-4 col-md-6 color-2 ">
                        <div>
                            <h4 class=" ">Новая услуга 6 рук</h4>
                            <p class="para ">В чем фишка услуги в 6 рук? Разумеется, в экономии времени.Мы предоставляеем вам 3 услугу одновременно</p>
                            <a th:href="@{/enroll/category}" class="btn logo-button top-margin"> З а п и с а т ь с я </a>
                        </div>
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 back-image  ">
                        <img src="assets/images/16.jpg" alt="product" class="img-responsive ">
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 back-image2 ">
                        <img src="assets/images/9.jpg" alt="product" class="img-responsive ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-clients">
    <div class="main-w3">
        <div class="container">
            <!-- main-slifer for price -->
            <div class="main-slider text-center">
                <ul>
                    <li>
                        <div class="slider-info">
                            <div class="d-grid hh14-text">
                                <div class="hh14-info">
                                    <h2> 15%</h2>
                                    <p class="para"> скидка на первое посещение салона</p>
                                    <!-- <h1>PRICE LIST</h1> -->
                                    <a href="services.html" class="btn logo-button top-margin">П о д р о б н е е </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /main-slider -->
        </div>
    </div>
</section>

<section class="w3l-specification-6">
    <div class="map">
        <h3>Не можете найти нас?</h3>
        <figure>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11703.441822579753!2d74.55807209014898!3d42.83356140356132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9e9695e6a85%3A0xa5f969a5ece777ec!2z0KDQtdC60YLQvtGA0LDRgiDQo9C90LjQstC10YDRgdC40YLQtdGC0LAg0JzQsNC90LDRgQ!5e0!3m2!1sru!2skg!4v1684001769750!5m2!1sru!2skg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>
        <address>
            <dl>
                <dt>Кыргызко-Турецкий университет Манас <br>
                    32, микрорайон Джал-23
                </dt>
            </dl>
        </address>
    </div>
</section>
<footer th:insert="fragments.html :: footer">

</footer>
<script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-long-arrow-up"></span>
</button>
<!-- время работы -->
<script>// Получаем текущую дату и время
let oCurrDate = new Date();
// Получаем элемент с текущим днём недели
let oCurrDay = $(".calendarik").eq(oCurrDate.getDay() == 0 ? 6 : oCurrDate.getDay() - 1);
// Подсвечиваем текущий день недели
oCurrDay.addClass("current");
// Парсим часы работы в тексте пункта
let aPartTime = oCurrDay.text().match(/(\d+)/gi);
// Получаем текущий час
let nHour = oCurrDate.getHours();
// Создаём блок для надписи о статусе
let oStatus = $("<span>");
// Если текущий час попадает в рабочий промежуток,
// тогда устанавливаем нужный текст с нужным цветом
if (nHour >= aPartTime[0] && nHour < aPartTime[2]) {
    oStatus.css("color", "green").html("ОТКРЫТО до 20:00");
} else {
    oStatus.css("color", "red").html("Закрыто до завтра");
}
// Отображаем статус около текущего дня
oCurrDay.append(oStatus);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->
</body>

</html>