
<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments.html :: head"></head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
      <div th:insert="fragments.html :: header"></div>
      <section class="about-m">
        <div class="about-info">
            <h2> Мужской зал</h2>
        </div>
        <a href="#" class="button">Записаться онлайн</a>
      </section>
      <section class="w3l-recent-work-hobbies" id="services"> 
        <div class="recent-work ">
            <div class="container">
                <div class="row about-about">
                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                     <img src="assets/images/23.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids ">
                            <h5><a href="" class="">Барбершоп</a></h5>
                            <p class="para ">В современном мире пользуется огромной популярностью барбершоп. Это – не обычная парикмахерская, 
                                здесь присутствует особая зона комфорта. Мужчин привлекает отсутствие всего напускного. </p>
                                
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6  about-line-top">
                     <img src="assets/images/24.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids  ">
                            <h5><a href="" class="">Почему мы? </a></h5>
                            <p class="para ">Мы готовы предложить вам непревзойденный сервис, качественные услуги и удобное расположение. 
                                Мы используем только высококачественные продукты, чтобы гарантировать оптимальный результат для каждого клиента. Мы стремимся создать
                                 уютную и расслабляющую атмосферу, в которой вы можете отдохнуть, расслабиться и получить удовольствие от наших услуг.
                            </p>
                                
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6  about-line-top">
                     <img src="assets/images/25.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids  ">
                            <h5><a href="" class="">Почему барбершоп?</a></h5>
                            <p class="para ">Отцы с удовольствием ведут сюда своих сыновей, чтобы мальчики могли почувствовать себя мужчинами. Здесь она 
                                познают на собственном опыте, что такое качественная профессиональная стрижка, а также содержательная мужская беседа. </p>
                                
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
     <div th:insert="fragments.html :: footer">

     </div>
      <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
</body>

</html>