

<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Modamo Beauty Studio | nogti</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-brand1">
            <div class="logo">
              <a href="index.html" class="logo">
                <img src="assets/images/logo.jpg" alt="">
              </a>
            </div>
        </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">О нас </a>
                    </li> 
                    
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Услуги
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="women.html">Женский зал</a>
                        <a class="nav-link " href="man.html" class="drop-text">Мужской зал</a>
                        <a class="nav-link " href="nogti.html" class="drop-text">Ногтевой сервис</a>
                        <a class="nav-link " href="brovi.html" class="drop-text">Брови/Ресницы</a>
                        <a class="nav-link " href="makeup.html" class="drop-text">Make Up</a>
                          <a class="nav-link " href="face.html" class="drop-text">Массаж</a>
                        <a class="nav-link " href="botox.html" class="drop-text">Ботокс</a>
                        <a class="nav-link " href="epilation.html" class="drop-text">Эпиляция</a>
                        <a class="nav-link " href="sertificate.html" class="drop-text">Подарочные сертификаты</a>
                    </div>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="price.html">Прайс</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Контакты</a>
              </li> 
                </ul>
                <div class="navbar-brand2">
                  <a href="https://instagram.com/_modamo?utm_medium=copy_link" class="fa fa-instagram"></a>
                  <a href="https://t.me/ANurdinova" class="fa fa-telegram"></a>
                  <a href="https://wa.me/996xxxxxxxxx"  class="fa fa-whatsapp"></a>
                  <a href="tel:996xxxxxxxxx" class="fa">+996XXXXXXXXX</a>
                   </div>
                
            </div>
        </div>

        </nav>
    </div>
      </header>
      <section class="about-1">
        <div class="about-info">
            <h2> Ногтевой сервис</h2>
        </div>
        <a href="#" class="button">Записаться онлайн</a>
      </section>
      <section class="w3l-services-two" id="services">
        <div class="service-single-page ">
            <div class="container">
                <div class="row service-treat">
                    <div class="col-lg-6 image-col">
                        <img src="assets/images/4.jpg" alt="">
                        <br>
                        <img src="assets/images/1.jpg" alt="">
                        <br>
                        <img src="assets/images/3.jpg" alt="">
                        <br>
                        <img src="assets/images/2.jpg" alt="">
                        <br>
                        <img src="assets/images/11.jpg" alt="">
                    </div>
                    <div class="col-lg-6 text-column ">
                      <h3><a href="" class="">Самый модный маникюр 2023</a></h3>
                        <p class="para  mt-3 mb-1">В 2023 году модные тенденции в индустрии маникюра продолжают развиваться и обновляться. 
                          <br>
                          Сегодня мы расскажем вам о самом модном маникюре этого года, обсудим тренды, инновации и предложим идеи для вдохновения.
                          <br>
                          В этом году минимализм и натуральность остаются на вершине модных тенденций. Предпочтение отдается нежным оттенкам и 
                          прозрачным покрытиям. Матовые текстуры также актуальны.
                          <br>
                          <br>
                          ▫️Натуральность и минимализм
                          <br>
                          ▫️Геометрические узоры
                          <br>
                          ▫️Градиентный маникюр
                          <br>
                          ▫️Фольга и стразы
                          <br>
                        </p>
                        <h3><a href="" class="">СНИМАЙ ВОВРЕМЯ</a></h3>
                        <p class="para  mt-3 mb-1">Я знаю, как ты любишь делать маникюр с гелем-лаком. Однако не все знают, что покрытие нужно снимать через три недели. Почему?
                            <br>
                            Поверь, там много неприятных последствий:
                            <br>
                            1️⃣Эстетика. За три недели ноготь отрастает на 3-6 мм, и отросшие покрытие выглядит неаккуратно. Если ты не успеваешь делать коррекцию вовремя — 
                            выбирай нюдовые оттенки, тогда отрастание будет менее заметно.   
                            <br>
                            2️⃣Отслойки. Современные безопасные покрытия рассчитаны в среднем на 21 день носки, затем база начинает постепенно терять свои свойства, что приводит к отслоению покрытия. 
                            <br>
                            3️⃣Гигиена. Под подросшим свободным краем собираются остатки еды, косметики, пыль, грязь, а это большое количество бактерий. Плотное покрытие сверху не дает разглядеть под ногтевые «отложения», кажется, что их нет, но это не так. Если ты носишь покрытие долго, обязательно прочищай ногти щеткой с мылом ежедневно или самостоятельно подпиливай длину

                            <br>
                            4️⃣Трещины. Это пункт относится к длинным ногтям. Покрытие, особенно с укреплением, достаточно тяжелое для натуральных ногтей, и при отрастании центр тяжести сдвигается ближе к свободному краю, что приводит к трещинам при малейшей нагрузке. 
                            <br>
                            5️⃣Врастания. Делая педикюр, используя гель-лак, ты создаёшь большую дополнительную нагрузку на пальцы ног и стопу в целом и нарушаешь ее биомеханику, что приводит к врастанию, деформации и мозоли.
                            <br></p>
                            <h3><a href="" class="">Это нужно знать всем🙋🏻‍♀️</a></h3>
                        <p class="para  mt-3 mb-1">Какие бывают последствия из-за неправильного ухода за ножками и уменьшения длины ноготка❓
                          Рассказываем...
                          <br>
                          <br>
                          Казалось бы, простое дело, подстричь ножницами ногти.
                          Проходит 4 дня...и ты начинаешь чувствовать ужасную боль в пальцах, ходить становиться не возможно...
                          Что случилось?
                          <br>
                          <br>
                          👉🏻Ноготок из-за неправильно ухода начал врастать в палец.
                          Какие еще могут быть последствия?
                          ▫️Трещины и расслоение ногтей
                          ▫️Панариций
                          ▫️Травмы валика и попадание инфекции
                          <br>
                        </p>
                            <div class="hair-two-colums">
                                <div class="hair-left">
                                    <h5><a href="">
                                        Дизайн</a></h5>
                                        <p class="para mt-2">Пора зажечь яркий маникюр и создать своё настроение🥳</p>
                                    </div>
                                <div class="hair-left">
                                    <h5><a href=""> Френч</a></h5>
                                    <p class="para mt-2">Какой маникюр френч в моде в 2023 году? </p>
                                </div>
                            </div>     
                    </div>
                </div>
    
            </div>
        </div>
        </div>
    </section>
      <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
          <div class="container py-lg-4">
            <div class="row footer-top-29">
              <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                <h6 class="footer-title-29">Контакты:</h6>
                <ul>
                  <li>
                    <span class="fa fa-map-marker"></span> <p>Кыргызстан, г.Бишкек,<br>мкр. Джал-23</p>
                  </li>
                  <li><span class="fa fa-phone"></span><a href="тел:+996-ххх-хх-хх-хх"> +(996)ххх-хх-хх-хх</a></li>
                  <li><span class="fa fa-envelope-open-o"></span><a href="modamo@gmail.com" class="mail">
                      modamo@gmail.com</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3">
                <h6 class="footer-title-29">Салон красоты "Модамо"</h6>
                <div class="footer-post mb-3">
                <p>Высочайший уровень профессионализма, широкий спектр услуг, отменное качество материалов и креативный подход – все это в одном месте, в удобное время.</p>
                </div>
                
              </div>
          </div>
        </div>
      </section>
      <section class="w3l-footer-29-main w3l-copyright">
        <div class="container">
          <div class="row bottom-copies">
            <p class="col-lg-8 copy-footer-29">© 2023  Modamo.</p>
      
              <div class="navbar-brand3">
            <a href="https://instagram.com/_modamo?utm_medium=copy_link" class="fa fa-instagram"></a>
            <a href="https://t.me/ANurdinova" class="fa fa-telegram"></a>
            <a href="https://wa.me/996xxxxxxxxx"  class="fa fa-whatsapp"></a>
             </div>
            </div>
      
          </div>
        </div>
      </section>
 <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
</body>

</html>