
<!doctype html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments.html :: head">

  </head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
      <div th:insert="fragments.html :: header">

      </div>
      <section class="about-1">
        <div class="about-info">
            <h2> Прайс - лист салона красоты "MODAMO"</h2>      
        </div>
        <a href="#" class="button">Записаться онлайн</a>
      </section>
<section>
    <div class ="pri">
       <div class="grid_4">
            <ul class="list l1">
               <li>
                     <div class="price1"><a href="#">Женский зал</a>
                        <ul class="price">
                        <li><a href="#">-Стрижки на короткие короткие волосы</a><span>250сом</span></li>
                        <li><a href="#">-Стрижка каре/Боб каре </a><span>400сом/ 450сом</span></li>
                        <li><a href="#">-Стрижка на средние волосы </a><span>350сом</span></li>
                        <li><a href="#">-Каскад</a><span>400сом</span></li>
                        <li><a href="#">-Кончики/челка</a><span>150сом</span></li>
                        <li><a href="#">-Укладка на короткие волосы</a><span>400сом</span></li>
                        <li><a href="#">-Укладка на длинные волосы</a><span>600сом</span></li>
                        <li><a href="#">-Локоны</a><span>от 300сом</span></li>
                        <li><a href="#">-Вечерние прически</a><span>от 500сом</span></li>
                        <li><a href="#">-Свадебные прически</a><span>1200сом</span></li>
                        <li><a href="#">-Ламирнирование волос</a><span>от 1500сом</span></li>
                        <li><a href="#">-Хим. завивка</a><span>от 2000сом</span></li>
                        <li><a href="#">-Сложное окрашивание волос</a><span>от 3000сом</span></li>
                        </ul>
                    </div>
                 </li>
                <li>
                    <div class="price1"><a href="#">Мужской зал</a>
                    <ul class="price">
                        <li><a href="#">-Детские</a><span>150сом/200сом</span></li>
                        <li><a href="#">-Стрижки волос налысо с машинкой</a><span>150сом</span></li>
                        <li><a href="#">-Спортивный</a><span>200сом</span></li>
                        <li><a href="#">-Модельный/короткий/средний</a><span>250сом</span></li>
                        <li><a href="#">-Канадка</a><span>350сом</span></li>
                        <li><a href="#">-Площадка</a><span>350сом</span></li>
                        <li><a href="#">-Московский</a><span>300сом</span></li>
                        <li><a href="#">-Барбершоп</a><span>800сом</span></li>
                    </ul>
                </div>
                 </li>
                 <li>
                    <div class="price1"><a href="#">Ногтевой сервис</a>
                    <ul class="price">
                        <li><a href="#">-Маникюр</a><span>300сом</span></li>
                        <li><a href="#">-Маникюр с покрытием</a><span>600сом</span></li>
                        <li><a href="#">-Гель лак с укреплением</a><span>900сом</span></li>
                        <li><a href="#">-Френч</a><span>+100сом</span></li>
                        <li><a href="#">-Дизайн</a><span>+100сом</span></li>
                        <li><a href="#">-Педикюр классический</a><span>650сом</span></li>
                        <li><a href="#">-Педикюр с покрытием</a><span>800сом</span></li>
                        <li><a href="#">-Педикюр с гель лаком</a><span>1200сом</span></li>
                        <li><a href="#">-Маникюр + педикюр</a><span>1800сом</span></li>
                    </ul>
                 </li>
                 <li>
                    <div class="price1"><a href="#">Брови / ресницы</a>
                    <ul class="price">
                        <li><a href="#">-Коррекция бровей</a><span>150сом</span></li>
                        <li><a href="#">-Покраска бровей </a><span>150сом</span></li>
                        <li><a href="#">-Покраска ресниц</a><span>150сом</span></li>
                        <li><a href="#">-Наращвание ресниц 2D/3D</a><span>от 900сом</span></li>
                        <li><a href="#">-Снятие нарощенных ресниц</a><span>200сом</span></li>
                        <li><a href="#">-Ламинирование ресниц</a><span>700сом</span></li>
                        <li><a href="#">-Ламинирование бровей</a><span>1000сом</span></li>
                        <li><a href="#">-Пудровые напыление бровей</a><span>3000сом</span></li>
                    </ul>
                </div>
                 </li>
                 <li>
                    <div class="price1"><a href="#">Make - Up</a>
                    <ul class="price">
                        <li><a href="#">-Свадебный</a><span>от 1200сом</span></li>
                        <li><a href="#">-Свадебный пробный</a><span>600сом</span></li>
                        <li><a href="#">-Вечерний</a><span>1000сом</span></li>
                        <li><a href="#">-На выпускной</a><span>800сом</span></li>
                        <li><a href="#">-Для фото и видеосъемок</a><span>1500сом</span></li>
            
                    </ul>
                </div>
                 </li>
                 <li>
                    <div class="price1"><a href="#"> Botox</a>
                    <ul class="price">
                        <li><a href="#">-Ботокс 1 ед</a><span>90сом</span></li>
                        <li><a href="#">-Лифтинг бровей</a><span>3000сом</span></li>
                        <li><a href="#">-Гусиные лапки</a><span>8000сом</span></li>
                        <li><a href="#">-Область межбровья</a><span>6500сом</span></li>
                        <li><a href="#">-Лифтинг углов губ</a><span>400сом</span></li>
                        <li><a href="#">-гипергидроз</a><span>9000сом</span></li>
                </div>
                 </li>
                 <li>
                    <div class="price1"><a href="#"> Эпиляция</a>
                    <ul class="price">
                        <li><a href="#">-Восковая депиляция </a><span>от 200сом</span></li>
                        <li><a href="#">-Эпиляция руки до локтя</a><span>650сом</span></li>
                        <li><a href="#">-Подмышки</a><span>700сом</span></li>
                        <li><a href="#">-Ноги полн</a><span>1700сом</span></li>
                        <li><a href="#">-Ноги голень</a><span>1200сом</span></li>
               </div>
                 </li>

                
             </div>
        </div> 
    </div>
</div>
</section>
<div th:insert="fragments.html :: footer">

</div>
  <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
  <!--bootstrap working-->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- //bootstrap working-->
  <!-- disable body scroll which navbar is in active -->
  <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
  </script>
  <!-- disable body scroll which navbar is in active -->
  

  <!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<!-- время работы -->
<script>// Получаем текущую дату и время
  let oCurrDate = new Date();
  // Получаем элемент с текущим днём недели
  let oCurrDay = $(".calendarik").eq(oCurrDate.getDay() == 0 ? 6 : oCurrDate.getDay() - 1);
  // Подсвечиваем текущий день недели
  oCurrDay.addClass("current");
  // Парсим часы работы в тексте пункта
  let aPartTime = oCurrDay.text().match(/(\d+)/gi);
  // Получаем текущий час
  let nHour = oCurrDate.getHours();
  // Создаём блок для надписи о статусе
  let oStatus = $("<span>");
  // Если текущий час попадает в рабочий промежуток,
  // тогда устанавливаем нужный текст с нужным цветом
  if (nHour >= aPartTime[0] && nHour < aPartTime[2]) {
    oStatus.css("color", "green").html("ОТКРЫТО до 20:00");
  } else {
    oStatus.css("color", "red").html("Закрыто до завтра");
  }
  // Отображаем статус около текущего дня
  oCurrDay.append(oStatus);
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>