
<!doctype html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments.html :: head">

  </head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
      <div th:insert="fragments.html :: header">

      </div>
      <section class="about-1">
        <div class="about-info">
            <h2> Прайс - лист салона красоты "MODAMO"</h2>      
        </div>
        <a  th:href="@{/enroll/category}" class="button">Записаться онлайн</a>
      </section>
<section>
    <div class ="pri">
       <div class="grid_4">
            <ul class="list l1">
               <li>
                     <div class="price1" th:each="category: ${categories}">
                         <a href="#" th:text="${category.getName()}">Женский зал</a>
                        <ul class="price" th:each="price: ${prices}">
                        <li  th:if="${category.getId() == price.category.getId()}">
                            <a href="#" th:text="${price.getName()}"></a><span th:text="${price.getSum()}">250сом</span>
                        </li>
                        </ul>
                    </div>
                 </li>
                
             </div>
        </div> 
    </div>
</div>
</section>
<div th:insert="fragments.html :: footer">

</div>
  <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
  <!--bootstrap working-->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- //bootstrap working-->
  <!-- disable body scroll which navbar is in active -->
  <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
  </script>
  <!-- disable body scroll which navbar is in active -->
  

  <!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<!-- время работы -->
<script>// Получаем текущую дату и время
  let oCurrDate = new Date();
  // Получаем элемент с текущим днём недели
  let oCurrDay = $(".calendarik").eq(oCurrDate.getDay() == 0 ? 6 : oCurrDate.getDay() - 1);
  // Подсвечиваем текущий день недели
  oCurrDay.addClass("current");
  // Парсим часы работы в тексте пункта
  let aPartTime = oCurrDay.text().match(/(\d+)/gi);
  // Получаем текущий час
  let nHour = oCurrDate.getHours();
  // Создаём блок для надписи о статусе
  let oStatus = $("<span>");
  // Если текущий час попадает в рабочий промежуток,
  // тогда устанавливаем нужный текст с нужным цветом
  if (nHour >= aPartTime[0] && nHour < aPartTime[2]) {
    oStatus.css("color", "green").html("ОТКРЫТО до 20:00");
  } else {
    oStatus.css("color", "red").html("Закрыто до завтра");
  }
  // Отображаем статус около текущего дня
  oCurrDay.append(oStatus);
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>