

<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Modamo Beauty Studio | services </title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-brand1">
            <div class="logo">
              <a href="index.html" class="logo">
                <img src="assets/images/logo.jpg" alt="">
              </a>
            </div>
        </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">О нас </a>
                    </li> 
                    
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Услуги
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="women.html">Женский зал</a>
                        <a class="nav-link " href="man.html" class="drop-text">Мужской зал</a>
                        <a class="nav-link " href="nogti.html" class="drop-text">Ногтевой сервис</a>
                        <a class="nav-link " href="brovi.html" class="drop-text">Брови/Ресницы</a>
                        <a class="nav-link " href="makeup.html" class="drop-text">Make Up</a>
                          <a class="nav-link " href="face.html" class="drop-text">Массаж</a>
                        <a class="nav-link " href="botox.html" class="drop-text">Ботокс</a>
                        <a class="nav-link " href="epilation.html" class="drop-text">Эпиляция</a>
                        <a class="nav-link " href="sertificate.html" class="drop-text">Подарочные сертификаты</a>
                    </div>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="price.html">Прайс</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Контакты</a>
              </li> 
                </ul>
                <div class="navbar-brand2">
                  <a href="https://instagram.com/_modamo?utm_medium=copy_link" class="fa fa-instagram"></a>
                  <a href="https://t.me/ANurdinova" class="fa fa-telegram"></a>
                  <a href="https://wa.me/996xxxxxxxxx"  class="fa fa-whatsapp"></a>
                  <a href="tel:996xxxxxxxxx" class="fa">+996XXXXXXXXX</a>
                   </div>
                
            </div>
        </div>

        </nav>
    </div>
      </header>
      <section class="w3l-clients">
        <div class="main-w3">
            <div class="container">
                <!-- main-slifer for price -->
                <div class="main-slider text-center">
                     <ul>
                            <li>
                                <div class="slider-info">
                                    <div class="d-grid hh14-text">
                                        <div class="hh14-info">
                                           <h2> 15%</h2>
                                            <p class="para"> скидка на первое посещение салона</p>
                                            <!-- <h1>PRICE LIST</h1> -->
                                           
                                        </div>
                                    </div>
                                </div>
                              </li>
                            </ul>
                </div>
                <!-- /main-slider -->
            </div>
        </div>
    </section>
<section class="w3l-footer-29-main">
	<div class="footer-29 py-5">
	  <div class="container py-lg-4">
		<div class="row footer-top-29">
		  <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
			<h6 class="footer-title-29">Контакты:</h6>
			<ul>
			  <li>
				<span class="fa fa-map-marker"></span> <p>Кыргызстан, г.Бишкек,<br>мкр. Джал-23</p>
			  </li>
			  <li><span class="fa fa-phone"></span><a href="тел:+996-ххх-хх-хх-хх"> +(996)ххх-хх-хх-хх</a></li>
			  <li><span class="fa fa-envelope-open-o"></span><a href="modamo@gmail.com" class="mail">
				  modamo@gmail.com</a></li>
			</ul>
		  </div>
		  <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 "> </div>
		  
		  <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4">
			<h6 class="footer-title-29">График работы: </h6>
			<ul class="list-group">
        <li class="list-counter-circle calendarik"><b>Понедельник:</b> 10:00–20:00</li>
        <li class="list-counter-circle calendarik"><b>Вторник:</b> 10:00–20:00</li>
        <li class="list-counter-circle calendarik"><b>Среда:</b> 10:00–20:00</li>
        <li class="list-counter-circle calendarik"><b>Четверг:</b> 10:00–20:00</li>
        <li class="list-counter-circle calendarik"><b>Пятница:</b> 10:00–20:00</li>
        <li class="list-counter-circle calendarik"><b>Суббота:</b> 10:00–20:00</li>
        <li class="list-counter-circle calendarik"><b>Воскресенье:</b> 10:00–20:00</li>
      </ul> 
		  </div>
	  </div>
	</div>
  </section>
  <section class="w3l-footer-29-main w3l-copyright">
	<div class="container">
	  <div class="row bottom-copies">
		<p class="col-lg-8 copy-footer-29">© 2023  Modamo.</p>
  
		  <div class="navbar-brand3">
        <a href="https://instagram.com/_modamo?utm_medium=copy_link" class="fa fa-instagram"></a>
        <a href="https://t.me/ANurdinova" class="fa fa-telegram"></a>
        <a href="https://wa.me/996xxxxxxxxx"  class="fa fa-whatsapp"></a>
         </div>
		</div>
  
	  </div>
	</div>
  </section>
  

  <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
  <!--bootstrap working-->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- //bootstrap working-->
  <!-- disable body scroll which navbar is in active -->
  <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
  </script>
  <!-- disable body scroll which navbar is in active -->  <!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<!-- время работы -->
<script>// Получаем текущую дату и время
  let oCurrDate = new Date();
  // Получаем элемент с текущим днём недели
  let oCurrDay = $(".calendarik").eq(oCurrDate.getDay() == 0 ? 6 : oCurrDate.getDay() - 1);
  // Подсвечиваем текущий день недели
  oCurrDay.addClass("current");
  // Парсим часы работы в тексте пункта
  let aPartTime = oCurrDay.text().match(/(\d+)/gi);
  // Получаем текущий час
  let nHour = oCurrDate.getHours();
  // Создаём блок для надписи о статусе
  let oStatus = $("<span>");
  // Если текущий час попадает в рабочий промежуток,
  // тогда устанавливаем нужный текст с нужным цветом
  if (nHour >= aPartTime[0] && nHour < aPartTime[2]) {
    oStatus.css("color", "green").html("ОТКРЫТО до 20:00");
  } else {
    oStatus.css("color", "red").html("Закрыто до завтра");
  }
  // Отображаем статус около текущего дня
  oCurrDay.append(oStatus);
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>