

<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Modamo Beauty Studio | Women zal </title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body id="about">

<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-brand1">
            <div class="logo">
              <a href="index.html" class="logo">
                <img src="assets/images/logo.jpg" alt="">
              </a>
            </div>
        </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">О нас </a>
                    </li> 
                    
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Услуги
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="women.html">Женский зал</a>
                        <a class="nav-link " href="man.html" class="drop-text">Мужской зал</a>
                        <a class="nav-link " href="nogti.html" class="drop-text">Ногтевой сервис</a>
                        <a class="nav-link " href="brovi.html" class="drop-text">Брови/Ресницы</a>
                        <a class="nav-link " href="makeup.html" class="drop-text">Make Up</a>
                          <a class="nav-link " href="face.html" class="drop-text">Массаж</a>
                        <a class="nav-link " href="botox.html" class="drop-text">Ботокс</a>
                        <a class="nav-link " href="epilation.html" class="drop-text">Эпиляция</a>
                        <a class="nav-link " href="sertificate.html" class="drop-text">Подарочные сертификаты</a>
                    </div>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="price.html">Прайс</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Контакты</a>
              </li> 
                </ul>
                <div class="navbar-brand2">
                  <a href="https://instagram.com/_modamo?utm_medium=copy_link" class="fa fa-instagram"></a>
                  <a href="https://t.me/ANurdinova" class="fa fa-telegram"></a>
                  <a href="https://wa.me/996xxxxxxxxx"  class="fa fa-whatsapp"></a>
                  <a href="tel:996xxxxxxxxx" class="fa">+996XXXXXXXXX</a>
                   </div>
                
            </div>
        </div>

        </nav>
    </div>
      </header>
      <section class="about-1">
        <div class="about-info">
            <h2> Женский зал</h2>
        </div>
        <a href="#" class="button">Записаться онлайн</a>
      </section>
      <section class="w3l-recent-work-hobbies" id="services"> 
        <div class="recent-work ">
            <div class="container">
                <div class="row about-about">
                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                     <img src="assets/images/5.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids ">
                            <h5><a href="price.html" class="">Стрижка + укладка</a></h5>
                            <p class="para ">Комплекс услуг и вуаля 😍
                              Наши мастера помогли подчеркнуть красоту и женственность очаровательной девушке.<br>
                             Волосы - счастье для волос от Lebel+укладка в подарок 🎁. Мастер Тариэл.
                             <br>
                              Максимально естественно и аккуратно.
                              С учетом всех предпочтений. </p>
                                <a href="" class="action-button btn mt-3">Записаться</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6  about-line-top">
                     <img src="assets/images/6.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids  ">
                            <h5><a href="price.html" class="">Сложное окрашивание</a></h5>
                            <p class="para ">Грамотный домашний уход, экологичный салонный уход, не гнаться за сиюминутным
                               результатом «здесь и сейчас» при окрашивании, исключительно деликатное отношение к своим волосам...
                               <br> Мастер Адилет</p>
                                <a href="" class="action-button btn mt-3">Записаться</a>  
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6  about-line-top">
                     <img src="assets/images/20.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids  ">
                            <h5><a href="price.html" class=""> Кератиновое выпрямление</a></h5>
                            <p class="para ">Сегодня в beauty-меню практически любого салона можно найти кератирование — кератиновое выпрямление волос, способное превратить непослушные пряди в струящееся шелковое полотно. 
                              <br>Кератинов выпрямление для самых кудрявых от GREYMY 🤍
                              <br> Мастер Адилет
                            </p>
                                <a href="" class="action-button btn mt-3">Записаться</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 about-line-top ">
                     <img src="assets/images/8.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids  ">
                            <h5><a href="price.html" class="">техника микромелирование</a></h5>
                            <p class="para ">Волосы- это визитная карточка девушки, пусть они всегда будут ухоженными и красивыми!
                              <br> 
                              Окрашивание выполнено в технике микромелирование 💥💥💥
                              <br> Мастер Мадина
                               </p>
                                <a href="" class="action-button btn mt-3">Записаться</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 about-line-top ">
                     <img src="assets/images/21.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids  ">
                            <h5><a href="price.html" class="">Химическая завивка</a></h5>
                            <p class="para ">Существует косметическая процедура, которая помогает женщине закрыть две потребности: жажду перевоплощений и
                               желание получить красивые кудри, которые держаться несколько месяцев. Называется она — химическая завивка волос.
                               Вокруг неё сложилось немало мифов, и поэтому сегодня мы разбираемся, что на самом деле представляет из себя эта процедура.</p>
                               <br> Мастер Мадина
                                <a href="" class="action-button btn mt-3">Записаться</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 about-line-top ">
                      <img src="assets/images/22.jpg" alt="product" class="img-responsive about-me">
                         <div class="about-grids  ">
                             <h5><a href="price.html" class="">ESTEL Professional</a></h5>
                             <p class="para ">Красота, вдохновение и счастье тесно связаны друг с другом. Именно поэтому продукты ESTEL — это одновременно история о вдохновении, 
                              преображении и самых искренних эмоциях. Сейчас ESTEL — это более 2 000 наименований. Профессиональная краска для волос, уникальные салонные программы, 
                              множество линий профессионального ухода за волосами, уход за кожей, а также специальные коллекции для мужчин и детей.
                                </p>
                                 <a href="" class="action-button btn mt-3">Записаться</a>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
      <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
          <div class="container py-lg-4">
            <div class="row footer-top-29">
              <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                <h6 class="footer-title-29">Контакты:</h6>
                <ul>
                  <li>
                    <span class="fa fa-map-marker"></span> <p>Кыргызстан, г.Бишкек,<br>мкр. Джал-23</p>
                  </li>
                  <li><span class="fa fa-phone"></span><a href="тел:+996-ххх-хх-хх-хх"> +(996)ххх-хх-хх-хх</a></li>
                  <li><span class="fa fa-envelope-open-o"></span><a href="modamo@gmail.com" class="mail">
                      modamo@gmail.com</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3">
                <h6 class="footer-title-29">Салон красоты "Модамо"</h6>
                <div class="footer-post mb-3">
                <p>Высочайший уровень профессионализма, широкий спектр услуг, отменное качество материалов и креативный подход – все это в одном месте, в удобное время.</p>
                </div>
                
              </div>
          </div>
        </div>
      </section>
      <section class="w3l-footer-29-main w3l-copyright">
        <div class="container">
          <div class="row bottom-copies">
            <p class="col-lg-8 copy-footer-29">© 2023  Modamo.</p>
      
              <div class="navbar-brand3">
            <a href="https://instagram.com/_modamo?utm_medium=copy_link" class="fa fa-instagram"></a>
            <a href="https://t.me/ANurdinova" class="fa fa-telegram"></a>
            <a href="https://wa.me/996xxxxxxxxx"  class="fa fa-whatsapp"></a>
             </div>
            </div>
      
          </div>
        </div>
      </section>
      <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
</body>

</html>